<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <p> {{ counter }}</p>
        <button @click="counter+= 1">+1</button>
        <p>{{ lessThanThree }}</p>
        <!-- <p> {{ counter > 3 ? '３より大きいです' : '３より小さいです'}}</p> -->
    </div>

    <script>
        new Vue({
            el: '#app',
            data : {
                counter: 0
            },
            computed: {
                lessThanThree : function() {
                    return this.counter > 3 ? '３より大きいです' : '３より小さいです'
                }
            }
        })
    </script>
</body>
</html>